#mapid {
    height: 100vh;
}

/*Removes the scroll bar*/
html, body {
    overflow: hidden;
}

#search-view {
    transition: opacity 1s;
    opacity: 0.5;
    width: 350px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999999;
    background: white;
    overflow: hidden;
}

#search-view:hover {
    opacity: 1;
    transition: opacity 0.3s;
}

.search-view-header {
    margin: -20px -20px 0 -20px;
    background: darkgreen;
    color: white;
    font-weight: bold;
    font-size: large;
    letter-spacing: 0.02em;
    padding: 4px 8px;
    text-align: center;
}

#transport-icons {
    margin: 8px;
    display: flex;
    justify-content: center;
    letter-spacing: 12px;
}

.sv-icon {
    font-size: 1.3rem;
}

.search-view-section {
    padding: 8px;
    flex-wrap: wrap;
}

.sv-inputs {
    margin-top: 8px;
    margin-bottom: 8px;
}

.sv-container {
    display: flex;
}

.sv-item {
    margin: 4px;
}

.sv-label {
    margin-top: 7px;
    font-size: 1.05rem;
    font-weight: bold;
}

.button {
    border: none;
    background: none;
}

.sv-input {
    align-self: end;
    width: 90%;
}

.add-node {
    padding: 4px;
    font-size: 1.4rem;
    height: 100%;
    margin: 4px auto 4px auto;
}

#checkbox-search-btn {
    padding: 12px 8px;
}

#search-btn {
    float: right;
}

.start-end-strong {
    padding-left: 12px;
    margin: 4px;
}

.sv-suggestions-box-wrapper {
    position: absolute;
    margin-left: 40px;
    margin-top: 36px;
}

.sv-suggestions-box {
    position: fixed;
    width: 250px;
    z-index: 19;
    margin-top: 4px;
}